/* ==========================================================================
   Body
========================================================================== */

.body {
    background-color: var(--body-bg-color);
    color: var(--txt-color);
    font-family: Ubuntu;
    text-align: center;
}

/* ==========================================================================
   Header
========================================================================== */

.header {
    background-color: var(--header-bg-color);
    font-size: var(--largest-txt);
}

/* ==========================================================================
   Main
========================================================================== */

.svg {
    width: clamp(300px, 75vw + 1rem, 1050px);
    height: clamp(300px, 75vh + 1rem, 1050px);
}

/* ==========================================================================
   Footer
========================================================================== */

.footer {
    background-color: var(--footer-bg-color);
    font-size: var(--small-txt);
}

.footer-grid-container p {
    padding: 1rem;
}