/* ==========================================================================
   Root
========================================================================== */

:root {
    /* Background Colors */
    --body-bg-color: rgb(33, 32, 30);
    --header-bg-color: rgb(15, 51, 37);
    --main-bg-color: rgb(33, 32, 30);
    --section-bg-color: rgb(50, 50, 50);
    --footer-bg-color: rgb(173, 0, 14);

    /* Text Colors */
    --txt-color: rgb(225, 225, 225);
    --green-txt-color: rgb(68,214,44);
    --red-txt-color: rgb(200,75,70);

    /* Text Size */
    --largest-txt: clamp(3rem, 5vh + 1rem, 10rem);
    --large-txt: clamp(2rem, 2.5vh + 1rem, 6rem);
    --normal-txt: clamp(1rem, 1vh + 1rem, 4rem);
    --small-txt: clamp(0.75rem, 0.5vh + 1rem, 2rem);

    /* Box Shadows */
    --shadow-color: 0deg 0% 0%;
    --shadow-elevation-low:
      0.3px 0.3px 0.4px hsl(var(--shadow-color) / 0.65),
      0.5px 0.5px 0.7px -1.9px hsl(var(--shadow-color) / 0.5),
      1.5px 1.5px 2px -3.7px hsl(var(--shadow-color) / 0.36);
    --shadow-elevation-medium:
      0.3px 0.3px 0.4px hsl(var(--shadow-color) / 0.68),
      0.9px 0.9px 1.2px -1.2px hsl(var(--shadow-color) / 0.57),
      2.8px 2.7px 3.6px -2.5px hsl(var(--shadow-color) / 0.45),
      7.5px 7.3px 9.8px -3.7px hsl(var(--shadow-color) / 0.34);
    --shadow-elevation-high:
      0.3px 0.3px 0.4px hsl(var(--shadow-color) / 0.63),
      1.4px 1.4px 1.9px -0.5px hsl(var(--shadow-color) / 0.58),
      2.9px 2.8px 3.8px -1.1px hsl(var(--shadow-color) / 0.53),
      5.5px 5.3px 7.2px -1.6px hsl(var(--shadow-color) / 0.47),
      10px 9.6px 13px -2.1px hsl(var(--shadow-color) / 0.42),
      17px 16.4px 22.1px -2.7px hsl(var(--shadow-color) / 0.37),
      27.3px 26.4px 35.6px -3.2px hsl(var(--shadow-color) / 0.32),
      41.7px 40.3px 54.4px -3.7px hsl(var(--shadow-color) / 0.26);
}

/* ==========================================================================
   Fonts
========================================================================== */

@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu-Regular.ttf');
}
